<div class="grid">
    <div class="col-12">
        <!-- principal -->
        <div class="card px-6 py-6">
            <p-toast></p-toast>
           <!-- botones de agregar y eliminar de la parte superior  -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDisciplinas()" [disabled]="!selectedDisciplinas || !selectedDisciplinas.length"></button>
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>
           <!-- tabla con datos  -->
            <p-table  #dt [value]="disciplinas" [columns]="cols" responsiveLayout="scroll"  [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="false" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedDisciplinas" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            
                        </th>
                        <th pSortableColumn="code">Codigo <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <!-- <th>Image</th> -->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-disciplinas>
                    <tr >
                        <td>
                            <p-tableCheckbox [value]="disciplinas" ></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">code</span>
                            {{disciplinas.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{disciplinas.nombre}}
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="" width="100" class="shadow-4" />
                        </td> -->
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDisciplina(disciplinas.id)" ></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"(click)="deleteDisciplina(disciplinas.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- modal -->
        <p-dialog [(visible)]="disciplinaDialog" [style]="{width: '450px'}" header="Disciplinas" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="formDisciplinas">
                    <div class="field">
                        <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
                        <label for="name">Ingrese el nombre de la disciplina</label>
                        <input type="text" pInputText id="name" required autofocus [ngClass]="{' ng-dirty' : formDisciplinas.get('nombre')?.touched || formDisciplinas.get('nombre')?.errors?.['required'] ||formDisciplinas.get('nombre')?.errors?.['pattern'] || formDisciplinas.get('nombre')?.errors?.['minLength'] }" formControlName="nombre"/>
                        <small class="ng-dirty ng-invalid" *ngIf="formDisciplinas.get('nombre')?.touched && formDisciplinas.get('nombre')?.errors?.['required']">El nombre es requerido</small>
                        <small class="ng-dirty ng-invalid" *ngIf=" formDisciplinas.get('nombre')?.errors?.['pattern']">Solo se aceptan letras</small>
                        <small class="ng-dirty ng-invalid" *ngIf=" formDisciplinas.get('nombre')?.errors?.['minlength']">El minimo de caracteres debe ser 4</small>
                        <!-- <p-message severity="warn" text="Message Content"> </p-message>  -->
                    </div>
                </form>
                
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>
                <button *ngIf="!isUpdate" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDisciplina()"></button>
                <button *ngIf="isUpdate" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="updateDisciplina()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletedisciplinaDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Estas seguro de quere eliminar esta disciplina</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletedisciplinaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteDisciplinasDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Esta seguro de querer eliminar las disciplinas seleccionadss?</span>
            </div>
            <ng-template pTemplate="footer"> 
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteDisciplinasDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelectedDisciplinas()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>