<div class="grid">
  <div class="col-12">
    <p-toast></p-toast>
    <div class="card">
      <h4 class="font-bold">Equipos Disciplinas</h4>
      <p>
        En este módulo podrás asignar <b>Equipos</b> a cada
        <b>Disciplina</b>
      </p>
      <div class="card p-fluid">
        <h5>Seleccione los datos necesarios:</h5>
        <div class="grid grid-nogutter row-gap-3">
          <!-- Eventos -->
          <app-evento-dropdown
            [idOrganizador]="idOrganizador"
            (onChange)="onEventoChange($event)"
            inputId="ev-dropdowm"
            class="col-12"
          ></app-evento-dropdown>

          <!-- Disciplinas -->
          <app-evento-disciplina-dropdown
            [idEvento]="selectedEvento?.id"
            (onChange)="onEventoDisciplinaChange($event)"
            inputId="evd-dropdown"
            class="col-12"
          ></app-evento-disciplina-dropdown>

          <!-- Detalle Configuracion -->
          <app-configuracion-fieldset
            [eventoDisciplina]="selectedEventoDisciplina"
            class="col-12"
          ></app-configuracion-fieldset>
        </div>
      </div>

      <p-toolbar styleClass="mb-4">
        <div class="p-toolbar-group-start flex-grow-1">
          <div
            class="flex flex-wrap align-items-center column-gap-2 flex-grow-1"
          >
            <!-- equipos -->
            <div class="p-fluid py-3 flex align-items-center gap-2 flex-grow-1">
              <span class="p-float-label flex-grow-1">
                <p-dropdown
                  [options]="equiposToAdd"
                  [(ngModel)]="equipoToAdd"
                  placeholder="Escoger un Equipo"
                  inputId="equipo-dropdown"
                  [autoDisplayFirst]="false"
                  [filter]="true"
                  filterBy="nombre"
                  [disabled]="
                    !selectedEventoDisciplina ||
                    equipoDisciplinas.length >= maxNumberEquipos
                  "
                  [showClear]="true"
                >
                  <ng-template let-eq pTemplate="selectedItem">
                    <ng-container
                      *ngTemplateOutlet="equipoItem; context: { $implicit: eq }"
                    ></ng-container>
                  </ng-template>
                  <ng-template let-eq pTemplate="item">
                    <ng-container
                      *ngTemplateOutlet="equipoItem; context: { $implicit: eq }"
                    ></ng-container>
                  </ng-template>
                  <ng-template #equipoItem let-eq>
                    <div
                      class="flex flex-column align-items-center sm:flex-row gap-2"
                    >
                      <img
                        [src]="
                          eq.logo || '/assets/demo/images/image-placeholder.svg'
                        "
                        [alt]="eq.nombre"
                        width="50"
                        class="shadow-1"
                      />
                      <span>{{ eq.id }} | {{ eq.nombre }}</span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="empty">
                    <!-- <ng-container
                      *ngIf="!isEventoDisciplinasLoading; else equiposLoading"
                    >
                      <div>No hay Equipos para seleccionar</div>
                    </ng-container>
                    <ng-template #equiposLoading>
                      <div class="flex align-items-center gap-2">
                        <i class="pi pi-spin pi-spinner text-lg"></i>
                        <span>Los Equipos están cargando...</span>
                      </div>
                    </ng-template> -->
                  </ng-template>
                </p-dropdown>
                <label for="equipo-dropdown">Equipo a añadir</label>
              </span>
              <i
                *ngIf="isEquiposToAddLoading"
                class="pi pi-spin pi-spinner text-lg"
              ></i>
            </div>
            <!-- botones -->
            <div class="my-2">
              <button
                pButton
                pRipple
                label="Agregar"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="storeEquipoDisciplina()"
                [disabled]="!equipoToAdd"
              ></button>
              <button
                pButton
                pRipple
                label="Eliminar"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedEquipoDisciplinas()"
                [disabled]="
                  !selectedEquipoDisciplinas ||
                  !selectedEquipoDisciplinas.length
                "
              ></button>
            </div>
          </div>
        </div>
        <div class="p-toolbar-group-end mx-4">
          <i
            class="pi pi-spin pi-spinner"
            style="font-size: 2rem"
            *ngIf="loading"
          ></i>
        </div>
      </p-toolbar>

      <p-table
        #dt
        [value]="equipoDisciplinas"
        [globalFilterFields]="['equipo.nombre']"
        [(selection)]="selectedEquipoDisciplinas"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">
              Equipos
              <ng-container *ngIf="selectedEventoDisciplina as evd">
                de {{ evd.disciplina?.nombre }} -
                {{ evd.configuracion?.nombre }} |
                {{ equipoDisciplinas.length }}/{{ maxNumberEquipos }}
              </ng-container>
            </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Buscar..."
                class="w-full sm:w-auto"
                (input)="onGlobalFilter(dt, $event)"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              ID Eq. Disc.<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th>Logo</th>
            <th pSortableColumn="equipo.nombre">
              Nombre<p-sortIcon field="equipo.nombre"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eqd>
          <tr>
            <td>
              <p-tableCheckbox [value]="eqd"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 10rem">
              {{ eqd.id }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <div class="flex justify-content-center">
                <p-image
                  [src]="
                    eqd.equipo.logo ||
                    '/assets/demo/images/image-placeholder.svg'
                  "
                  [alt]="eqd.equipo.nombre"
                  width="80"
                  class="shadow-2"
                  [preview]="eqd.equipo.logo != null"
                ></p-image>
              </div>
            </td>
            <td style="width: 14%; min-width: 12rem">
              {{ eqd.equipo.nombre }}
            </td>
            <td>
              <div class="flex">
                <!-- <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editEquipo(eq)"
                ></button> -->
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteEquipoDisciplina(eqd)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              <ng-container *ngIf="!selectedEventoDisciplina">
                Seleccione una Disciplina
              </ng-container>
              <ng-container
                *ngIf="selectedEventoDisciplina && isEquipoDisciplinasLoading"
              >
                <div class="flex align-items-center gap-2">
                  <i class="pi pi-spin pi-spinner text-lg"></i>
                  <span>Los Equipos están cargando...</span>
                </div>
              </ng-container>
              <ng-container
                *ngIf="
                  selectedEventoDisciplina &&
                  !isEquipoDisciplinasLoading &&
                  equipoDisciplinas.length == 0
                "
              >
                No hay Equipos en esta Disciplina
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog
      [(visible)]="deleteEquipoDisciplinaDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="equipoDisciplina as eqd">
          Estás seguro que deseas eliminar el equipo
          <b>{{ eqd.equipo?.nombre }}</b> de la Disciplina
          <b>{{ selectedEventoDisciplina?.disciplina?.nombre }}</b>
          ?
        </span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteEquipoDisciplinaDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteEquipoDisciplinasDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estás seguro que deseas eliminar los equipos seleccionados?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteEquipoDisciplinasDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
