<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Agregar"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Eliminar"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedEquipos()"
              [disabled]="!selectedEquipos || !selectedEquipos.length"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="center">
          <div class="mx-4" *ngIf="loading">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table
        #dt
        [value]="equipos"
        [globalFilterFields]="['nombre']"
        [(selection)]="selectedEquipos"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Administrar Equipos</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Search..."
                class="w-full sm:w-auto"
                (input)="onGlobalFilter(dt, $event)"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              Código<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="nombre">
              Nombre<p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th>Logo</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eq>
          <tr>
            <td>
              <p-tableCheckbox [value]="eq"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Código</span>
              {{ eq.id }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Nombre</span>
              {{ eq.nombre }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Logo</span>
              <div class="flex justify-content-center">
                <p-image
                  [src]="eq.logo || '/assets/demo/images/image-placeholder.svg'"
                  [alt]="eq.nombre"
                  width="100"
                  class="shadow-2"
                  [preview]="eq.logo != ''"
                ></p-image>
              </div>
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editEquipo(eq)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteEquipo(eq)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="equipoDialog"
      [style]="{ width: '450px' }"
      header="Detalles del Equipo"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <form [formGroup]="equipoForm">
          <img
            [src]="
              selectedImageSrc ||
              equipo.logo ||
              '/assets/demo/images/image-placeholder.svg'
            "
            alt="Logo del equipo"
            width="150"
            class="mt-1 mx-auto mb-5 block shadow-2"
          />

          <div class="formgroup-inline">
            <div class="field">
              <p-fileUpload
                #imgUpload
                id="img-upload"
                mode="basic"
                chooseLabel="Subir Imagen"
                (onSelect)="onImageSelect($event)"
                (onClear)="onImageClear()"
                [multiple]="false"
                accept="image/*"
                [auto]="false"
                [maxFileSize]="100000"
                uploadIcon="pi pi-image"
                [disabled]="selectedImageSrc != ''"
              ></p-fileUpload>
            </div>
            <div class="field">
              <button
                type="button"
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button mr-2"
                (click)="imgUpload.clear()"
                [disabled]="!selectedImageSrc"
              ></button>
            </div>
          </div>

          <div class="field">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              pInputText
              id="nombre"
              formControlName="nombre"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty': equipoForm.controls['nombre'].touched && equipoForm.controls['nombre'].errors
              }"
            />
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="equipoForm.controls['nombre'].touched && equipoForm.controls['nombre'].errors?.['required']"
              >El nombre es requerido.
            </small>
            <!-- <small
              class="ng-dirty ng-invalid block"
              *ngIf="equipoForm.controls['nombre'].errors?.['pattern']"
              >Solo se aceptan letras.
            </small> -->
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="equipoForm.controls['nombre'].errors?.['minlength']"
              >El mínimo de caracteres debe ser 3.
            </small>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveEquipo()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteEquipoDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="equipo"
          >Estás seguro que deseas eliminar el equipo <b>{{ equipo.nombre }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteEquipoDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteEquiposDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Estás seguro que deseas eliminar los equipos seleccionados?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteEquiposDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
