<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Agregar"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Eliminar"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedUsers()"
              [disabled]="!selectedUsers || !selectedUsers.length"
            ></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table
        #dt
        [value]="users"
        responsiveLayout="scroll"
        [globalFilterFields]="['nombre', 'apellido']"
        [rows]="10"
        [paginator]="false"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedUsers"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Administrar Organizadores</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Search..."
                class="w-full sm:w-auto"
                (input)="onGlobalFilter(dt, $event)"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              Código<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="nombre">
              Nombre<p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th pSortableColumn="apellido">
              Apellido<p-sortIcon field="apellido"></p-sortIcon>
            </th>
            <th>Foto de Perfil</th>
            <th pSortableColumn="email">
              Email<p-sortIcon field="email"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Código</span>
              {{ user.id }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Nombre</span>
              {{ user.nombre }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Apellido</span>
              {{ user.apellido }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Foto de Perfil</span>
              <img
                [src]="getUserImage(user)"
                [alt]="user.name"
                width="100"
                class="shadow-4"
              />
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Email</span>
              {{ user.email }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editUser(user)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteUser(user)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog
      [(visible)]="userDialog"
      [style]="{ width: '450px' }"
      header="Detalles de Organizador"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
        <img
          [src]="getUserImage(user)"
          [alt]="user.foto_perfil"
          width="150"
          class="mt-0 mx-auto mb-5 block shadow-2"
          *ngIf="user.foto_perfil"
        />
        <div class="field">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            pInputText
            id="nombre"
            [(ngModel)]="user.nombre"
            required
            autofocus
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !user.nombre }"
          />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.nombre"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <label for="apellido">Apellido</label>
          <input
            type="text"
            pInputText
            id="apellido"
            [(ngModel)]="user.apellido"
            required
            autofocus
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !user.apellido }"
          />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.apellido"
            >Name is required.</small
          >
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveUser()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteUserDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="user"
          >Estás seguro que deseas eliminar a <b>{{ user.nombre }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteUserDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteUsersDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span
          >Estás seguro que deseas eliminar los organizadores
          seleccionados?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteUsersDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
