<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Agregar"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
            <button
              pButton
              pRipple
              label="Eliminar"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="deleteSelectedUsers()"
              [disabled]="!selectedUsers || !selectedUsers.length"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="center">
          <div class="mx-4" *ngIf="loading">
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table
        #dt
        [value]="users"
        responsiveLayout="scroll"
        [globalFilterFields]="['nombre', 'apellido']"
        [rows]="10"
        [paginator]="false"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedUsers"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Administrar Organizadores</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                placeholder="Search..."
                class="w-full sm:w-auto"
                (input)="onGlobalFilter(dt, $event)"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              Código<p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="nombre">
              Nombre<p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th pSortableColumn="apellido">
              Apellido<p-sortIcon field="apellido"></p-sortIcon>
            </th>
            <th>Foto de Perfil</th>
            <th pSortableColumn="email">
              Correo Electrónico<p-sortIcon field="email"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-tableCheckbox [value]="user"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Código</span>
              {{ user.id }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Nombre</span>
              {{ user.nombre }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Apellido</span>
              {{ user.apellido }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Foto de Perfil</span>
              <img
                [src]="
                  getUserImage(user) ||
                  '/assets/demo/images/avatar/default-user.svg'
                "
                [alt]="user.name"
                width="100"
                class="shadow-4"
              />
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Correo Electrónico</span>
              {{ user.email }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editUser(user)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteUser(user)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog
      [(visible)]="userDialog"
      [style]="{ width: '450px' }"
      header="Detalles de Organizador"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <form [formGroup]="userForm">
          <img
            [src]="
              selectedImageSrc ||
              getUserImage(user) ||
              '/assets/demo/images/avatar/default-user.svg'
            "
            alt="Foto de perfil"
            width="150"
            class="mt-1 mx-auto mb-5 block shadow-2"
          />

          <div class="formgroup-inline">
            <div class="field">
              <p-fileUpload
                #imgUpload
                mode="basic"
                chooseLabel="Subir Imagen"
                (onSelect)="onImageSelect($event)"
                (onClear)="onImageClear()"
                [multiple]="false"
                accept="image/*"
                [auto]="false"
                [maxFileSize]="100000"
                uploadIcon="pi pi-image"
                [disabled]="selectedImageSrc != ''"
              ></p-fileUpload>
            </div>
            <div class="field">
              <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button mr-2"
                (click)="imgUpload.clear()"
                [disabled]="!selectedImageSrc"
              ></button>
            </div>
          </div>

          <div class="field">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              pInputText
              id="nombre"
              formControlName="nombre"
              required
              autofocus
              [ngClass]="{ 'ng-invalid ng-dirty': userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['required']}"
            />
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['required']"
              >El nombre es requerido.
            </small>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('nombre')?.errors?.['pattern']"
              >Solo se aceptan letras.
            </small>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.errors?.['minlength']"
              >El mínimo de caracteres debe ser 2.
            </small>
          </div>

          <div class="field">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              pInputText
              id="apellido"
              formControlName="apellido"
              required
              [ngClass]="{ 'ng-invalid ng-dirty': userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['required']}"
            />
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['required']"
              >El apellido es requerido.
            </small>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('apellido')?.errors?.['pattern']"
              >Solo se aceptan letras.
            </small>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('apellido')?.touched && userForm.get('apellido')?.errors?.['minlength']"
              >El mínimo de caracteres debe ser 2.
            </small>
          </div>

          <div class="field">
            <label for="email">Correo Electrónico</label>
            <input
              type="text"
              pInputText
              id="email"
              formControlName="email"
              required
              [ngClass]="{ 'ng-invalid ng-dirty': userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']}"
            />
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['required']"
              >El correo electrónico es requerido.
            </small>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors?.['email']"
              >Ingrese el correo electrónico en un formato correcto.
            </small>
          </div>

          <div class="field">
            <label for="password"
              >Contraseña
              <small *ngIf="user.id">(Dejar vacio para no editar)</small>
            </label>
            <p-password
              formControlName="password"
              id="password"
              [feedback]="false"
              [toggleMask]="true"
              [ngClass]="{ 'ng-invalid ng-dirty': userForm.get('password')?.touched && userForm.get('password')?.errors?.['required']}"
            ></p-password>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['required']"
              >La contraseña es requerida.
            </small>
            <small
              class="ng-dirty ng-invalid block"
              *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors?.['minlength']"
              >El mínimo de caracteres debe ser 8.
            </small>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancelar"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Guardar"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveUser()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteUserDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="user"
          >Estás seguro que deseas eliminar a <b>{{ user.nombre }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteUserDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteUsersDialog"
      header="Confirmación"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span
          >Estás seguro que deseas eliminar los organizadores
          seleccionados?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteUsersDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Si"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
