<div class="grid">
    <div class="col-12">
        <!-- principal -->
        <div class="card px-6 py-6">
            <p-toast></p-toast>
           <!-- botones de agregar y eliminar de la parte superior  -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deletedSelectedConfig()" [disabled]="!selectedConfig || !selectedConfig.length"></button>
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>
           <!-- tabla con datos  -->
            <p-table  #dt [value]="configuracion" [columns]="cols" responsiveLayout="scroll"  [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="false" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedConfig"selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"  placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                        </th>
                        <th pSortableColumn="code">Codigo <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Numero de grupos <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name"># de equipos por grupo <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Minutos de juego <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Minutos entre partidos <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Partidos de ida y vuelta <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="name">Tarjetas <p-sortIcon field="name"></p-sortIcon></th>
                        <!-- <th>Image</th> -->
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-configuracion>
                    <tr >
                        <td>
                            <p-tableCheckbox [value]="configuracion" *ngIf="configuracion.id_organizador==idUsuario"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">code</span>
                            {{configuracion.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.numero_grupos}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.numero_miembros}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.minutos_juego}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.minutos_entre_partidos}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.ida_y_vuelta}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{configuracion.tarjetas}}
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="" width="100" class="shadow-4" />
                        </td> -->
                        <td>
                            <div class="flex">
                                <button *ngIf="configuracion.id_organizador==idUsuario" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editConfiguracion(configuracion.id)" ></button>
                                <button *ngIf="configuracion.id_organizador==idUsuario" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"(click)="deleteConfiguracion(configuracion.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- modal -->
        <p-dialog [(visible)]="configuracionDialog" [style]="{width: '450px'}" header="Disciplinas" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="formConfiguracion">
                    <div class="field">
                        <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
                        <label for="name">Ingrese el nombre de la disciplina</label>
                        <input type="text" pInputText id="name" required autofocus [ngClass]="{' ng-dirty' : formConfiguracion.get('nombre')?.touched || formConfiguracion.get('nombre')?.errors?.['required'] ||formConfiguracion.get('nombre')?.errors?.['pattern'] || formConfiguracion.get('nombre')?.errors?.['minLength'] }" formControlName="nombre"/>
                       <div>
                        <small class="ng-dirty ng-invalid" *ngIf="formConfiguracion.get('nombre')?.touched && formConfiguracion.get('nombre')?.errors?.['required']">El nombre es requerido</small>
                        <small class="ng-dirty ng-invalid" *ngIf=" formConfiguracion.get('nombre')?.errors?.['pattern']">Solo se aceptan letras</small>
                        <small class="ng-dirty ng-invalid" *ngIf=" formConfiguracion.get('nombre')?.errors?.['minlength']">El minimo de caracteres debe ser 4</small>
                       </div>
                    </div>
                    <div class="field">
                        <label for="name">Ingrese el numero de grupos para la disciplina</label>
                        <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="100" formControlName="numero_grupos"  [ngClass]="{' ng-dirty' : formConfiguracion.get('numero_grupos')?.touched && formConfiguracion.get('numero_grupos')?.errors?.['required'] }">
                        </p-inputNumber>
                        <div>
                            <small class="ng-dirty ng-invalid" *ngIf="formConfiguracion.get('numero_grupos')?.touched && formConfiguracion.get('numero_grupos')?.errors?.['required']">El numero de grupos es requerido</small>
                        <!-- <p-message severity="warn" text="Message Content"> </p-message>  -->
                        </div>
                    </div>
                    <div class="field">
                        <label for="name">Ingrese el numero de equipos por grupo</label>
                        <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="100" formControlName="numero_miembros"  [ngClass]="{' ng-dirty' : formConfiguracion.get('numero_miembros')?.touched && formConfiguracion.get('numero_miembros')?.errors?.['required'] }">
                        </p-inputNumber>
                        <div>
                            <small class="ng-dirty ng-invalid" *ngIf="formConfiguracion.get('numero_miembros')?.touched && formConfiguracion.get('numero_miembros')?.errors?.['required']">El numero de grupos es requerido</small>
                        <!-- <p-message severity="warn" text="Message Content"> </p-message>  -->
                        </div>
                    </div>
                    <div class="fiel">
                        <label for="name">Ingrese los minutos de duracion del partido</label>
                        <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="120" formControlName="minutos_juego"  [ngClass]="{' ng-dirty' : formConfiguracion.get('minutos_juego')?.touched && formConfiguracion.get('minutos_juego')?.errors?.['required'] }">
                        </p-inputNumber>
                        <div>
                            <small class="ng-dirty ng-invalid" *ngIf="formConfiguracion.get('minutos_juego')?.touched && formConfiguracion.get('minutos_juego')?.errors?.['required']">La cantidad de tiempo es requerida</small>
                        <!-- <p-message severity="warn" text="Message Content"> </p-message>  -->
                        </div>
                    </div>
                    <div class="field">
                        <label for="name">Ingrese los minutos de descanso entre partidos</label>
                        <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="120" formControlName="minutos_entre_partidos"  [ngClass]="{' ng-dirty' : formConfiguracion.get('minutos_entre_partidos')?.touched && formConfiguracion.get('minutos_entre_partidos')?.errors?.['required'] }">
                        </p-inputNumber>
                        <div>
                            <small class="ng-dirty ng-invalid" *ngIf="formConfiguracion.get('minutos_entre_partidos')?.touched && formConfiguracion.get('minutos_entre_partidos')?.errors?.['required']">La cantidad de tiempo es requerida</small>
                        <!-- <p-message severity="warn" text="Message Content"> </p-message>  -->
                        </div>
                    </div>
                    <div class="field">
                        <label for="name">El campeonato contara con partidos de ida y vuelta</label>
                        <p-inputSwitch formControlName="ida_y_vuelta" ></p-inputSwitch>
                    </div>
                    <div class="field">
                        <label for="name">Se tomaran en cuenta las tarjetas dentro del capeonato</label>
                        <p-inputSwitch formControlName="tarjetas" ></p-inputSwitch>
                    </div>

                   
                </form>
                
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>
                <button *ngIf="!isUpdate" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveConfiguracion()"></button>
                <button *ngIf="isUpdate" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="updateConfiguracion()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteConfiguracionDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span >Esta seguro de que desea eliminar esta configuracion ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteConfiguracionDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteConfiguracionesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer"> 
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteConfiguracionesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>