<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                <div class="my-2">
                  <button
                    pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2"(click)="openNew()">
                  </button>
                  <button 
                    pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedJugadores()" [disabled]="!selectedJugadores || !selectedJugadores.length">
                  </button>
                </div>
              </ng-template>
              <ng-template pTemplate="center">
                <div class="mx-4" *ngIf="submitted">
                  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                </div>
              </ng-template>
          </p-toolbar>
          <p-table #dt [value]="jugadores"responsiveLayout="scroll" [globalFilterFields]="['nombre', 'apellido']" [rows]="10" [paginator]="false"[rowsPerPageOptions]="[10, 20, 30]"[showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedJugadores" selectionMode="multiple" [rowHover]="true" dataKey="id">
              <ng-template pTemplate="caption">
                <div
                  class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                  <h5 class="m-0">Jugadores</h5>
                  <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search "></i>
                    <input pInputText type="text" placeholder="Search..." class="w-full sm:w-auto" (input)="onGlobalFilter(dt, $event)"/>
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="id">
                      Código<p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nombre">
                      Nombre<p-sortIcon field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="apellido">
                      Apellido<p-sortIcon field="apellido"></p-sortIcon>
                    </th>
                    <th pSortableColumn="cedula">
                      Cedula<p-sortIcon field="cedula"></p-sortIcon>
                    </th>
                    <th>Foto Jugador</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-jugadore>
                <tr>
                  <td>
                    <p-tableCheckbox [value]="jugadore"></p-tableCheckbox>
                  </td>
                  <td style="width: 14%; min-width: 8rem">
                    <span class="p-column-title">Código</span>
                    {{ jugadore.id }}
                  </td>
                  <td style="width: 14%; min-width: 8rem">
                    <span class="p-column-title">Nombre</span>
                    {{ jugadore.nombre }}
                  </td>
                  <td style="width: 14%; min-width: 8rem">
                    <span class="p-column-title">Apellido</span>
                    {{ jugadore.apellido }}
                  </td>
                
                  <td style="width: 14%; min-width: 8rem">
                    <span class="p-column-title">Cedula</span>
                    {{ jugadore.cedula }}
                  </td>
                  <td style="width: 14%; min-width: 10rem center">
                    <span class="p-column-title">Foto</span>
                    <p-image [src]=" getJugadoresImage(jugadore) ||'/assets/demo/images/avatar/default-user.svg'" alt="Image" width="100" [preview]="true"></p-image>
                   <!--  <img [src]=" getJugadoresImage(jugadore) ||'/assets/demo/images/avatar/default-user.svg'"[alt]="jugadore.name" width="90" class="shadow-4"/> -->
                  </td>
                  <td>
                    <div class="flex">
                      <button
                        pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editJugadores(jugadore)">
                      </button>
                      <button
                        pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteJugadores(jugadore)">
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-template>
          </p-table>
        </div>
        
        <p-dialog [(visible)]="jugadoresDialog" [style]="{ width: '450px' }" header="Jugadore" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
            <form [formGroup]="formJugadores">
              <img  [src]=" selectedImageSrc || getJugadoresImage(jugadore) || '/assets/demo/images/avatar/default-user.svg' " alt="Foto de perfil" width="100" class="mt-4 mx-auto mb-6 block shadow-7 pi pi-spin pi-spinner" />
             
              <div class="formgroup-inline center align-items-center ">
                  <div class="field ">
                    <p-fileUpload #imgUpload mode="basic" chooseLabel="Subir Imagen" (onSelect)="onImageSelect($event)" (onClear)="onImageClear()" [multiple]="false" accept="image/*" [auto]="false" [maxFileSize]="100000" uploadIcon="pi pi-image" [disabled]="selectedImageSrc != ''">
                    </p-fileUpload>
                  </div>
                  <div class="field">
                    <button type="button" pButton pRipple  label="Cancelar" icon="pi pi-times" class="p-button mr-2" (click)="imgUpload.clear()" [disabled]="!selectedImageSrc">
                    </button>
                  </div>
                </div>

              <div class="field">
                <label for="nombre">Nombre</label>
          
                <input type="text" pInputText id="nombre"  formControlName="nombre" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': formJugadores.get('nombre')?.touched && formJugadores.get('nombre')?.errors?.['required']}"/>
                <small class="ng-dirty ng-invalid block"*ngIf="formJugadores.get('nombre')?.touched && formJugadores.get('nombre')?.errors?.['required']">
                  <i class="pi pi-spin pi-spinner"></i>
                  El nombre es requerido.
                </small>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('nombre')?.errors?.['pattern']">
                  <i class="pi pi-spin pi-spinner"></i>
                  Solo se aceptan letras.
                </small>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('nombre')?.touched && formJugadores.get('nombre')?.errors?.['minlength']">
                  <i class="pi pi-spin pi-spinner"></i>
                  El mínimo de caracteres debe ser 2.
                </small>
              </div>

              <div class="field">
                <label for="apellido">Apellido</label>
                <input type="text" pInputText  id="apellido" formControlName="apellido" required [ngClass]="{ 'ng-invalid ng-dirty': formJugadores.get('apellido')?.touched && formJugadores.get('apellido')?.errors?.['required']}"/>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('apellido')?.touched && formJugadores.get('apellido')?.errors?.['required']" >
                  <i class="pi pi-spin pi-spinner"></i>
                  El apellido es requerido.
                </small>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('apellido')?.errors?.['pattern']">
                  <i class="pi pi-spin pi-spinner"></i>
                  Solo se aceptan letras.
                </small>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('apellido')?.touched && formJugadores.get('apellido')?.errors?.['minlength']">
                  <i class="pi pi-spin pi-spinner"></i>
                  El mínimo de caracteres debe ser 4.
                </small>
              </div>

              <div class="field">
                <label for="cedula">Cedula</label>
                <input type="text" pInputText id="cedula" formControlName="cedula" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': formJugadores.get('cedula')?.touched && formJugadores.get('cedula')?.errors?.['required']}"/>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('cedula')?.touched && formJugadores.get('cedula')?.errors?.['required']">
                  <i class="pi pi-spin pi-spinner"></i>
                  La cedula es requerido.
                </small>
                <small class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('cedula')?.errors?.['pattern']">
                  <i class="pi pi-spin pi-spinner"></i>
                  Solo se aceptan numero.
                </small>
                <small  class="ng-dirty ng-invalid block" *ngIf="formJugadores.get('cedula')?.touched && formJugadores.get('cedula')?.errors?.['minlength']">
                  <i class="pi pi-spin pi-spinner"></i>
                  Solo se puede ingresar 10 numero.
                </small>
              </div>
            </form>  
          </ng-template>

          <ng-template pTemplate="footer">
            <button
              pButton  pRipple  label="Cancelar"  icon="pi pi-times"  class="p-button-text"  (click)="hideDialog()">
          </button>
            <button pButton pRipple  label="Guardar" icon="pi pi-check" class="p-button-text"  (click)="saveJugadores()"></button>
          </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteJugadoreDialog" header="Confirmación" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="jugadore">Estás seguro que deseas eliminar a <b>{{ jugadore.nombre }} {{ jugadore.apellido }} </b> </span>
            </div>
            <ng-template pTemplate="footer">
                <button
                  pButton pRipple icon="pi pi-times" class="p-button-text" label="No"(click)="deleteJugadoreDialog = false">
                </button>
                <button
                  pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()">
                </button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteJugadoresDialog" header="Confirmación" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Estás seguro que deseas eliminar los Jugadores seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                  pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteJugadoresDialog = false">
                </button>
                <button
                  pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"(click)="confirmDeleteSelected()">
                </button>
            </ng-template>
        </p-dialog>

    </div>
</div>
